// Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$vpale-blue: hsl(225, 100%, 98%);
$alt-blue: hsl(224, 23%, 55%);
$dest-blue: hsl(245, 83%, 68%);
$dark-blue: hsl(223, 47%, 23%);

// Screen
$mobile: 375px;
// $desktop: 1440px;
